<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-md-6">
            <img src="../../content/images/kapali-hali-saha-skorbordu.jpg" width="450" />
        </div>
        <div class="col-md-6">
            <h2>Evin Halı Saha</h2> <span class="pull-right"><a href=" #/details" class="btn {{class}}" ng-click="rezervasyon();">{{text}}<i class="fa fa-check" ng-if="tick" aria-hidden="true"></i></a></span>
            <ul class="details-list">
                <li>
                    <strong>Tesis Adı: </strong> <span>Evin</span>
                </li>
                <li>
                    <strong>Saha Adı: </strong> <span>7 Kişilik</span>
                </li>
                <li>
                    <strong>Spor Türü: </strong> <span>Futbol</span>
                </li>
                <li>
                    <strong>İl: </strong> <span>Sakarya</span>
                </li>
                <li>
                    <strong>İlçe: </strong> <span>Serdivan</span>
                </li>
                <li>
                    <strong>Adres: </strong> <span>Serdivan</span>
                </li>
                <li>
                    <strong>Telefon Numarası: </strong> <span>0555 555 5555</span>
                <li>
                    <strong>Saat Dilimi: </strong> <span>0</span>
                </li>
                <li>
                    <strong>Açılış Saati: </strong> <span>09:00</span>
                </li>
                <li>
                    <strong>Kapanış Saati: </strong> <span>03:00</span>
                </li>
                <li>
                    <strong>Ücret: </strong> <span>90</span>
                </li>
            </ul>
        </div>
    </div>
</div>