
<div id="wrap">
    <!--################ HEADER START ################-->
    <header id="top" data-stellar-background-ratio="0" style="height: 809px;">
        <div class="container home">
            <div class="flexslider home">
                <ul class="slides">
                    <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <div class="col-md-7 animated fadeInLeftBig">
                            <img src="images/responsive.png" alt="..." draggable="false">
                        </div>
                        <div class="col-md-4 margintop10p animated fadeInDownBig">
                            <h1>
                                <i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i>
                                <br>full responsive
                            </h1>
                        </div>
                    </li>
                    <li class="margin5" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <div class="col-md-6 animated fadeInLeftBig" id="main-media">
                            <div class="fluid-width-video-wrapper" style="padding-top: 41.3793%;"><iframe src="http://player.vimeo.com/video/56072786" allowfullscreen="" id="fitvid520959"></iframe></div>
                        </div>
                        <div class="col-md-5">
                            <h1>a complete parallex template for your needs</h1>
                        </div>
                    </li>
                    <li class="margintop10p flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                        <h1>
                            <i class="icon-tablet"></i><i class="icon-mobile-phone"></i><i class="icon-desktop"></i>
                            <br>Spor tesisi rezervasyon sistemi
                        </h1>
                    </li>
                    <li class="margintop10p" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                        <h1>
                            <i class="icon-eye-open icon-2x"></i>
                            <br>oh! did i mentioned, its retina ready...
                        </h1>
                    </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li><li><a class="">4</a></li></ol>
            </div>
            <!--
            <div class="social-header hidden-phone">

                <a href="#" class="social-network sn2 behance"></a>
                <a href="#" class="social-network sn2 facebook"></a>
                <a href="#" class="social-network sn2 pinterest"></a>
                <a href="#" class="social-network sn2 flickr"></a>
                <a href="#" class="social-network sn2 dribbble"></a>
                <a href="#" class="social-network sn2 lastfm"></a>
                <a href="#" class="social-network sn2 forrst"></a>
                <a href="#" class="social-network sn2 xing"></a>
            </div>
                -->

        </div>
        <!-- <div flex="5" hide-xs="" hide-sm="" class="hide-sm hide-xs flex-5">

        </div> -->



        <div id="search" class="searc row">


            <div class="row form-group form-groupfirst">


            </div>



            <div class="col-md-3"></div>


            <div class="tab-content col-md-12 col-sm-12 col-xs-12 search-texts">

                <div class="col-md-2 col-xs-12 col-sm-12">
                    <div class="row">
                        <div class="input-group spor-check">
                            <input type="radio" name="sporTuru" checked id="futbol">
                            <label for="futbol">  &nbsp; Halı Saha </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group spor-check">
                            <input type="radio" name="sporTuru" checked id="basket">
                            <label for="basket">  &nbsp; Tenis Kortu </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group spor-check">
                            <input type="radio" name="sporTuru" checked id="tenis">
                            <label for="tenis">  &nbsp; Basket Sahası</label>
                        </div>
                    </div>


                </div>
                <div class="tab-pane fade active in" id="a" ng-init="load();">
                    <form class="form-horizontal col-md-5">
                        <div class="form-group">
                            <label class="col-sm-1 ">İl</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="formdata.il" ng-options="city.sehir for city in cities track by city.id"
                                        ng-change="getDistrict(formdata.il.id);">
                                    <option value="">İl Seçiniz..</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 ">İlçe</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="formdata.ilce" ng-options="district.ilce for district in districts track by district.id">
                                    <option value="">İlçe Seçiniz..</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group services-change">
                            <label class="col-sm-12">Servis Seçeneği</label>
                            <div class="input-group">
                                <input type="radio" name="iCheck" checked id="farketmez">
                                <label for="farketmez">Farketmez</label>
                            </div>
                            <div class="input-group">
                                <input type="radio" name="iCheck" id="var">
                                <label for="var">Servis Var</label>
                            </div>
                            <div class="input-group">
                                <input type="radio" name="iCheck" id="yok">
                                <label for="yok">Servis Yok</label>
                            </div>
                        </div>
                    </form>
                    <div flex="5" hide-xs="" hide-sm="" class="hide-sm hide-xs flex-5">

                    </div>

                    <form class="form-horizontal col-md-5">
                        <div class="form-group">

                            <div class="col-sm-11">
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control" value={{today}}>
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" value={{today}}>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="col-sm-11">
                                <div class="input-group clock">
                                    <input id="timepicker1" type="text" class="form-control input-small input-group-addon">
                                    <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    <input id="timepicker2" type="text" class="form-control input-small input-group-addon">
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <div class="col-sm-11">
                                <!--
                                        <div class="input-group ">
                                            <div class="input-group bootstrap-timepicker timepicker ">
                                                <input id="timepicker1" type="text" class="form-control input-small input-group-addon">
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                            <div class="input-group bootstrap-timepicker timepicker ">
                                                <input id="timepicker2" type="text" class="form-control input-small input-group-addon">
                                            </div>
                                        </div>
                                -->
                                <button class="btn btn-sm btn-search btn-gray customhome-btn pull-left">Ara</button>
                                <button class="btn btn-sm btn-flickr customhome-btn pull-right">Temizle</button>

                            </div>

                        </div>

                    </form>

                </div><!-- burası layoutda -->

            </div>

        </div>
    </header>

    <section id="features">

        <div id="features-banner" data-stellar-background-ratio="0">


            <div class="result">
                <div class="row res">

                </div>
            </div>

        </div>
    </section>
    <section id="features">
        <div class="container paddingtop20">
            <hr class="line">
            <div class="row">
                <div class="col-md-12">
                    <ul class="thumbnails list-unstyled">
                        <li class="col-md-3 col-sm-6">
                            <div class="thumbnail border-left features">
                                <div class="feature-icon">
                                    <i class="fa fa-futbol-o icon-10x color1"></i>
                                </div>
                                <h4>Üye ol</h4>
                                <p>Yaşadığınız şehirdeki tüm spor tesislerine tek tıkla ulaşma imkanı.</p>
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="thumbnail border-none">
                                <div class="feature-icon">
                                    <i class="fa fa-heart icon-10x color2"></i>
                                </div>
                                <h4>Ara</h4>
                                <p>Spor yapmanın kolaylığını sizinle paylaşmak istiyoruz.</p>
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="thumbnail border-right">
                                <div class="feature-icon">
                                    <i class="fa fa-futbol-o icon-10x color3"></i>
                                </div>
                                <h4>Rezerve et</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.</p>
                            </div>
                        </li>
                        <li class="col-md-3 col-sm-6">
                            <div class="thumbnail border-right">
                                <div class="feature-icon">
                                    <i class="fa fa-check-circle icon-10x color4"></i>
                                </div>
                                <h4>Başla</h4>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

</div>




