
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-inner">


        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Admin Paneli Ana Sayfası
                </h1>
            </div>
        </div>


       </div>